/* Add CSS Styling */
.class{
    background-color:rgb(255,192,203);
    font-family: "Verdana","DejaVu Sans","sans-serif";
}
#firstid{
    color:blue;
    font-size: 36px;
}
.class.cool{
    font-size: 24px;
}
#secondid{
    font-weight: bold;
    font-size:24px;
    background-color:lightgreen;

}